
.ExecView {
  width: 100%;
  height: 100%;
  .inner {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    .terminal {
      // background-color: black;
      // color: white;
      // font-size: 10px;
      height: calc(100% - 100px);
      // overflow: scroll;

      // https://gist.github.com/steinwaywhw/9920493
      font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
      font-size: 11px;
      color: rgb(240, 240, 240);
      background: #383734 !important; 
      padding: 3px;
      border: none !important;
    }
  }
}